:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e0e0e0;
  background-color: #1e1e2f;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #4e9eff;
  text-decoration: inherit;
}
a:hover {
  color: #3c7edb;
}


body {
  margin: 32px;
  min-width: 650px;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #4e9eff;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0f66e0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 80%;
  height: 80%;
  max-width: 600px;
  min-width: 300px;
  min-height: 300px;
  padding: 30px;
  border-radius: 8px;
  background-color: #2a2a40;
}

form > *{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #ffffff;
  text-align: left;
  font-size: 1.2rem;
  border-radius: 8px;
}

input{
  width: calc(100% - 20px);
}
input:focus{
  outline: 4px auto -webkit-focus-ring-color;
  background-color: #ffffff;
  color: #212121;
  border: 1px solid #4e9eff;
}

input[type="date"]{
  width: 50%;
  height: 2rem;
  font-size: 1rem;
  margin: 0 20px;
}


label{
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px 0;
  color: #ffffff; 
  align-self: auto;
}

textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  width: 350px;
  height: 150px;
  text-align: left;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
